[Unit]
Description=Main Fabric API Entry Point for all functions
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/[Replace User Home Directory]/fabai/api/fabai_get_ai_insights.py
WorkingDirectory=/home/[Replace User Home Directory]/fabai
StandardOutput=journal
StandardError=journal
Restart=always
User=[Replace User]

[Install]
WantedBy=multi-user.target
