[Unit]
Description=Web UI API for Fabric AI 
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/[Replace User Home Directory]/fabai/aiwebui/aiwebui.py
WorkingDirectory=/home/[Replace User Home Directory]/fabai
StandardOutput=journal
StandardError=journal
Restart=always
User=[Replace User]

[Install]
WantedBy=multi-user.target
