[Unit]
Description=Web UI API for Fabric AI 
After=network.target

[Service]
ExecStart=/usr/bin/python3 %h/fabai/api/fabai_aiwebui.service
WorkingDirectory=%h/fabai
StandardOutput=journal
StandardError=journal
Restart=always
User=[Replace with User to run under]

[Install]
WantedBy=multi-user.target