[Unit]
Description=Main Fabric API Entry Point for all functions
After=network.target

[Service]
ExecStart=/usr/bin/python3 %h/fabai/api/fabai_get_ai_insights.service
WorkingDirectory=%h/fabai
StandardOutput=journal
StandardError=journal
Restart=always
User=cmollo

[Install]
WantedBy=multi-user.target
